<!DOCTYPE html>
<html>
<head>
<title>Weather-Pants/Shorts Determiner</title>
</head>
<body>

<h1>Enter your zipcode or any zipcode.....</h1>
<p>And the zipcode you entered is ...</p>

<form action="/display" method="POST">
  <input type="text" name="zipcode">
  <input type="submit" value="Press the Button">
</form>

</body>
</html>
